.container {
  display: grid;
  grid-template-columns: 8em auto;
  column-gap: 1em;
  align-self: center;
}

.bubbleHeader {
  grid-column: 1/4;
  grid-row: 1/4;
}

.form {
  padding: 1em 0 0 0;
  align-content: left;
  grid-column: 2/3;
  grid-row: 1;
  z-index: 4;
  display: grid;
  gap: 0.5em;
}

.catLogo {
  grid-column: 1;
  grid-row: 1/3;
  z-index: 1;
  width: 5rem;
  padding: 2em 0 0 3em;
}

.plusIcon {
  grid-column: 3;
  grid-row: 1;
  z-index: 1;
  width: 2em;
  padding: 3.9em 0 0 0;
}
.selectedFilter {
  grid-column: 2;
  grid-row: 2;
  padding-top: 1em;
  color: var(--text-color);
  margin: 0;
}

.submitButton {
  background-color: var(--tertiary-bg-color);
  border-radius: 50em;
  border: none;
  font-size: 1em;
  color: var(--text-color);
  cursor: pointer;
}
