.container {
  background-color: none;
  display: grid;
}

.form {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 2em 2em;
}

.bubbleHeader {
  z-index: -1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.result {
  padding-left: 2em;
  width: 400px;
}
