.container {
  display: grid;
  background-color: var(--primary-bg-color);
  height: 100vh;
  grid-template-rows: 10em auto 6em;
}

.result {
  background-color: var(--primary-bg-color);
  padding: 0 2em;
  color: var(--text-color);
  overflow: scroll;
  text-align: justify;
  grid-row: 2 / 3;
}

.result p {
  margin: 0;
}

.result::-webkit-scrollbar {
  display: none;
}

.footerMenu {
  grid-row: 3;
  align-self: end;
  z-index: 1;
}
