.container {
  display: grid;
  align-self: center;
  grid-template-columns: minmax(2em, 7em) auto;
  border-radius: 0% 0% 20% 20%;
  background-color: var(--secondary-bg-color);
  width: 100%;
  color: var(--text-color);
}

.catLogo {
  grid-column: 1;
  padding: 2em 0 0 1em;
}

.headline {
  grid-column: 2;
  text-align: center;
  padding: 2em 1em 2em 0;
}
