.wrapper {
  display: grid;
  height: 100vh;
}
.container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2em;
  background-color: transparent;
}

.logo {
  width: 10em;
}

.loginButton {
  display: flex;
  background-color: rgb(36, 41, 46);
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  color: var(--text-color);
  cursor: pointer;
  padding: 1em;
  width: 15em;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.loginButton:active {
  transform: translateY(0.1em);
}
.loginButton img {
  width: 2em;
  fill: var(--text-color);
}

.mainBubble {
  grid-column: 1;
  grid-row: 1;
  z-index: -3;
  padding-top: 8em;
  max-width: 1200px;
}
