.label {
  display: grid;
}

.label__input {
  border: 0.2em solid transparent;
  border-radius: 5em;
  padding: 0.5em 1.5em;
}

.label__input::placeholder {
  color: var(--secondary-bg-color);
}

.label__input:focus {
  outline: none;
  border: 0.2em solid var(--tertiary-bg-color);
}
