.label {
  display: grid;
}

.label__input {
  border: none;
  border-radius: 50em;
  padding: 0.5em;
}

.label__input::placeholder {
  padding-left: 1em;
  color: var(--secondary-bg-color);
}

.label__input:focus {
  outline-color: var(--tertiary-bg-color);
}
