@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-bg-color: #361999;
  --secondary-bg-color: #14005a;
  --tertiary-bg-color: #ff6495;
  --details-color: #78fff1;
  --text-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  width: 500px;
}
