.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  row-gap: 1em;
}

.savedSearchElements {
  color: var(--text-color);
  overflow: scroll;
  text-align: justify;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
  padding: 0 1em 0 1em;
}

.savedSearchElements::-webkit-scrollbar {
  display: none;
}
