.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  row-gap: 1em;
}

.savedElements {
  color: var(--text-color);
  padding: 0 1em 0 1em;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
}

.savedElements::-webkit-scrollbar {
  display: none;
}

.loadingSpinner {
  display: inline-block;
  align-self: center;
  justify-self: center;
  width: 10em;
  height: 10em;
  border: 0.12em solid var(--details-color, 0.1);
  border-radius: 50%;
  border-top-color: var(--primary-bg-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.errorState {
  display: grid;
  gap: 2em;
  color: var(--text-color);
  justify-items: center;
  align-items: center;
  padding-top: 9em;
}

.errorState button {
  background-color: var(--tertiary-bg-color);
  border-radius: 1em;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5em 1.5em;
}
