.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  row-gap: 1em;
}

.savedElements {
  color: var(--text-color);
  padding: 0 1em 0 1em;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
}

.savedElements::-webkit-scrollbar {
  display: none;
}
