.button {
  background-color: var(--tertiary-bg-color);
  border-radius: 1em;
  border: none;
  display: flex;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5em 1.5em;
  grid-column: 2;
  font-size: 0.8em;
  justify-self: right;
  justify-content: center;
  gap: 0.7em;
  align-items: center;
  box-shadow: 0 0.1em var(--secondary-bg-color);
}

.button:active {
  box-shadow: 0;
  transform: translateY(0.1em);
}

.name {
  grid-column: 1;
  display: grid;
  gap: 2em;
  font-size: 0.8em;
}

.results {
  padding: 0.5em;
  display: grid;
  align-items: center;
}
